<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi, my name is <strong>Giovanni Ortiz</strong> I’m a web developer and info tech consultant. I’ve been working with web technologies for over 6 years. I specialize in website design and maintenance. My job is to get your business seen and ensure that your site stays available and secure so customers can get to your product faster and more conveniently. </p>
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Contact Information</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">giovanni.ortiz@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">732-742-8411</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Location:</strong>
                </div>
                <div class="col-sm-8">Chantilly, Virginia
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Spanish, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>