<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Information Technology and Informatics</div>
               <h4 class="category">Rutgers University
               </h4>
               <ul>
                <li> Core Java 102 </li>
                    <li> Web Design and SEO marketing</li>
                 <li>Statistics</li>
                 <li>Informatics in Tech</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>