<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/java-NFL.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Java, NFL API</h4>
          <h5 class="card-text"><b>Technology :</b> Java, Spring </h5>
          <a href="https://github.com/gpointo/TheRundownApiUsage" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/PY-NFL.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Python, NFL Data Web Scrapper</h4>
           <h5 class="card-text"><b>Technology :</b> Python,beautifulsoup4 </h5>

          <a href="https://github.com/gpointo/PythonNFLWebScrapper" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
 
    
      
    
    
    </div>
    </div>
  </div>